.navbar {
  grid-area: n;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.item {
  margin-bottom: 15px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.item:last-child {
  margin-bottom: 0;
}

.item a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  display: block;
  transition: background 0.3s ease;
}

.item a:hover {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}
.item a:focus {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: black;
  font-weight: bold;
}

.active a {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: black;
  font-weight: bold;
}
