.navbar {
grid-area: n;
background:#13274F;
padding: 10px;
}

.item a:focus  {
	color: white;
	
}
.item a {
	color: gray;
	text-decoration: none;
}

.userIcon {
	width: 20px;
	border-radius: 32px;
	margin: 5px;
}
