.app-wrapper {
  display: grid;
  grid-template-areas: 
  "h h h "
  "n c c" ;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.navbar {
grid-area: n;
background-color: #fdbb2d;

}
.header {
  grid-area: h;
  background: #fdbb2d;

}
.content {
  grid-area: c;
  background: #fdbb2d;

}
.header img {
  width: 20px;
}