body {
  background: rgb(255, 255, 255);
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "n h h"
    "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  width: 1200px;
  margin: 0 auto;
}
